
body.login {
    background: #FFFBF0;
}

.login {
    h1 a {
        margin-left: -41px;
        width:385px;
        height:81px;
        background-image: url('../img/logo.png');
        background-size: 385px 81px;
    }
    form {
        border:2px solid #CBC8BB;
        border-radius:0;
        -webkit-box-shadow:0px 0px 2px #888473;
        box-shadow:0px 0px 2px #888473;

        .input, .login input[type="text"] {
            border: none;
            border-radius:0;
            background-color:#CBC7BB !important;
        }

        .button.button-large, .button-group.button-large .button {
            margin:0.3em;
            padding:0.9em 0.9em 0.8em;
            height: auto;
            border:none;
            border-radius:2px;
            background:#F05448;
            -webkit-box-shadow:none;
            box-shadow: none;
            color:white;
            text-transform: uppercase;
            text-shadow:none;
            font-weight: bold;
            font-family: 'Open Sans Condensed', sans-serif;
            line-height: 1;

            &:hover {
                background: #9C2614;
                color:#F05448;
            }
        }
    }

    #nav a, #backtoblog a {
        color:#F05448 !important;
        text-decoration: none;
        text-shadow:none;
    }
}

div.updated, .login .message, .press-this #message {
    border-left:4px solid #F05448;
}
