
.site-content {
    .inner-wrap {
        background-color: $content-bg;
        border-top: 1px solid #CBC8BB;
        border-left: 1px solid #CBC8BB;
        border-right: 1px solid #CBC8BB;
    }
}
