.site-header {
    background-color: $content-bg;
    border-bottom: 1px solid $header-border;
}

.site-branding {
    svg {
        float: left;
        margin-right: em(17);
        width: auto;
        max-width: 100%;
    }

    a {
        color: $bright-red;
        text-decoration: none;
    }

    h1, h2.site-description {
        display: none;
    }
}
