.site-header {
    background-color: $content-bg;
}

.site-branding {
    @include clearfix;
    margin: 1em 0;

    svg {
        float: left;
        margin-right: em(17);
        width: auto;
        max-width: 100%;
    }

    a {
        color: $bright-red;
        text-decoration: none;
    }

    h1, h2.site-description {
        display: none;
    }
}

.donate-signup {
    a {
        display: inline-block;
        padding: 0.3em 1.4em;
        border: 1px solid;
        border-radius: 4px;
        font-weight: bold;
    }
}
