.home {
	.site-content {
		.inner-wrap {
			margin-top: 2em;
			background-color: transparent;
		}
	}
}

.view-all {
    border-radius: 3px;
    background: $bright-red;
    color: white;
    line-height: 1;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;

    &:visited {
    	color: white;
    }
}
