.site-header {
    background-color: $content-bg;
}

.site-branding {
    @include clearfix;
    margin: 1em auto;

    svg {
        width: auto;
        max-width: 100%;
    }

    a {
        color: $bright-red;
        text-decoration: none;
    }

    h1, h2.site-description {
        display: none;
    }
}

.header-utility {
    margin-bottom: 1em;
}

.donate-signup {
    text-align: center;
    a {
        display: inline-block;
        padding: 0.3em 1.4em;
        border: 1px solid;
        border-radius: 4px;
        font-weight: bold;
        margin: 0 0.5em 1em;
    }
}

.social {
    text-align: center;
    a {
        font-family: "Genericons";
        display: inline-block;
        width: 40px;
        height: 40px;
        color: $dark;
        @include font-size(28);

        &:hover,
        &:focus {
            color: $bright-red;
        }
    }
    .aob-google:before {
        content: '\f206';
    }
    .aob-facebook:before {
        content: '\f204';
    }
    .aob-twitter:before {
        content: '\f202';
    }
    .aob-email:before {
        content: '\f410';
    }
    .aob-instagram:before {
        content: '\f215';
    }
}
