.pagination {
  margin:1.7em 0 3em 0;
  ul {
    list-style: none;
    text-align:center;
    li {
      display: inline-block;
      &:first-child {
        margin-right: 1em;
      }
      &:last-child {
        margin-left: 1em;
      }
    }
  }

  a {
    background-color: $bright-red;
    color: white;
    text-decoration: none;
    margin: 0 0.2em;

    &.prev {

    }
  }

  a, .current {
    padding: 0.3em 0.7em;
    border-radius: 3px;
  }

  a:hover, .current {
    background: $dark-red;
    color: white;
  }
}

.nav-links {
  @include clearfix;
  width: 100%;
}

.nav-next {
    &:after {
        font-family: "Genericons";
        color: $grey;
        vertical-align: middle;
        font-size: 22px;
        line-height: 1.6;
        margin-left: em(5);
        text-decoration: inherit;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        speak: none;
    }
}

.post-navigation {
  margin-bottom: 2em;

  .nav-next:after {
    content: '\f429';
  }

  .nav-previous:before {
    content: '\f430';
  }
}

