.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

article.hentry {
    margin: 0 0 2.5em;
    padding-bottom: 2.5em;
    border-bottom: 4px solid rgba(147, 202, 186, 0.41);
}

// blog
.blog, .archive, .news-stories {
    .site-content .inner-wrap {
        background: none;
    }

    article.hentry {
        padding: 1.5em 2.5em;
        background-color: $content-bg;
        @include clearfix;
        width: 100%;

        .entry-summary {
            @include font-size(15);
        }

        &:last-of-type {
            border-bottom: none;
        }
    }

    .entry-header {
        margin-top: 0;
    }

    #secondary {
        padding: 2em;
        background-color: $content-bg;
    }

    .post-thumb,
    .post-story {
        @include span-columns(6);
    }
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
    font-family: $font__content;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta {
    color: lighten( $body, 10 );
    a {
        color: lighten( $body, 10 );
        &:hover {
            color: $bright-red;
        }
    }
}

.entry-header {
    border-bottom: 1px solid #F0ECE1;
    padding-bottom: 0.5em;
    margin-bottom:0.5em;
    margin-top: em(24);
    width: 100%;

    @include clearfix;

    .entry-date {
        display: inline;
    }
}

.entry-title {
    font-size: 36px;
    margin: 0 auto;

    a {
        color: $body;
        &:hover {
            color:$bright-red;
        }
    }
}

.post-categories {
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cat-links,
.tags-links {
    display: block;
    margin: 1em 0;

    a {
        display: inline-block;
        padding: 0 0.5em;
        margin: 0 0.2em 0 0;
        color: $body;
        background-color: $body_bg;

        &:hover,
        &:focus {
            color: lighten( $body, 20 );
        }
    }
}

.read-more {
    display: inline-block;
    margin-top: 1em;
}

.comments-link,
.edit-link,
.event-time,
.nav-previous {
    display: block;

    &:before {
        font-family: "Genericons";
        color: $grey;
        vertical-align: middle;
        font-size: 22px;
        line-height: 1.6;
        margin-right: em(5);
        text-decoration: inherit;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        speak: none;
    }
}

.comments-link:before {
    content: '\f300';
}

.edit-link:before {
    content: '\f411';
}

.event-time:before {
    content: '\f307';
}
