.site-content {
    .inner-wrap {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.site-branding {
    float: left;
    margin: 1em 0;

    svg {
        float: left;
        margin-right: em(17);
    }
}

.donate-signup {
    float: right;
    margin-top: em(28);
}

.nav-previous,
.nav-next {
    width: 50%;
}

.nav-next {
    float: right;
    text-align: right;
}

.nav-previous {
    float: left;
}

#primary {
    @include span-columns(8.5);
}

#secondary {
    @include span-columns(3.5);
}

@import "navigation";
