.site-content {
    .inner-wrap {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.nav-previous,
.nav-next {
    width: 50%;
}

.nav-next {
    float: right;
    text-align: right;
}

.nav-previous {
    float: left;
}

#primary {
    float: left;
    width: 70%;
}

#secondary {
    float: right;
    width: 26%;
}

@import "navigation";

