
button.nav-toggle {
    display: none;
}

.home {
	.nav {
		padding: 1em 0;
		max-height: none;
		background-color: $black;

		li a {
			color: $almost-white;
		}
	}
}

/* =Menu
----------------------------------------------- */
.nav {
	width:auto;
	clear: none;
	max-height: 55em;
	background:none;

	.donate-signup {
		display: none;
	}

	ul {
		//background: white;
	}

	.nav-menu.centered {
		text-align: center;

		li {
			float: none;
			display: inline-block;
		}
	}

	li {
		position: relative;
		float: left;
		zoom: 1;
		*display: inline;

		a {
			padding: 1em;
			// color: lighten( $body,5 );
			&:hover, &:focus {
		      background: none;
		    }
		}

		&:last-child {
			.sub-menu, .children {
				right:0;
				ul {
					right:100%;
				}
			}
		}

		// &:hover {
		// 	.sub-menu, .children {
		// 		display: block;
		// 		visibility: visible;

		// 		> li {
		// 			ul {
		// 				display: none;
		// 				visibility: hidden;
		// 			}

		// 			&:hover {
		// 				ul {
		// 					display: block;
		// 					visibility: visible;
		// 				}
		// 			}
		// 		}


		// 	}
		// }
	}

	.sub-menu, .children {
		// makes the sub menu ul stay when mouse leaves active area
		visibility: hidden;

		li {
			width:100%;
			a {
				color: white;
				padding: 0.5em 1em;
				background: $mid-red;
				border-bottom: 1px solid $dark-red;

				&:hover, &:focus {
					background: lighten($mid-red,1);
        			color:white;
				}
			}

			&:before {
				display:none;
			}
		}

		ul {
			right:100%;
			top:0;
		}
	}
}
